* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.side-by-side {
    background-color: beige;
    margin: 40px 40px;
    padding: 40px;
    font-size: 14px;
}
 
.column1 {
    display: inline-block;
    width: 400px;
    vertical-align: middle;
}
 
.column2 {
    padding-left: 20px;
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}