* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 0px 10px;
    font-family: sans-serif;
    max-width: 600px;
    display: block;
}

li {
    margin: 10px;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
    max-height: 35px;
    margin: 0px 20px;
    text-align: center;
}

.green {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(147, 247, 143);
    padding: 5px 12px;
}

.done {
    text-decoration: line-through;
}

.not {
    text-decoration: none;
}

.important {
    color: red;
}

.important.done {
    background-color: yellow;
    padding: 3px;
}

a[href="complete"] {
    text-decoration: none;
}

#morning {
    border: 10px solid rgb(254, 213, 137);
    border-radius: 20px;
    background-color: rgb(254, 213, 137);
    margin: 10px;
    padding: 10px;
}

#afternoon {
    border: 10px solid rgb(255, 154, 39);
    border-radius: 20px;
    background-color: rgb(255, 154, 39);
    margin: 10px;
    padding: 10px;
}

#night {
    border: 10px solid rgb(198, 152, 198);
    border-radius: 20px;
    background-color: rgb(198, 152, 198);
    margin: 10px;
    padding: 10px;
}

#morn {
    border: 10px solid rgb(255, 234, 194);
    border-radius: 10px;
    background-color: rgb(255, 234, 194);
}

#after {
    border: 10px solid rgb(255, 199, 136);
    border-radius: 10px;
    background-color: rgb(255, 199, 136);
}

#zzz {
    border: 10px solid rgb(216, 198, 233);
    border-radius: 10px;
    background-color: rgb(216, 198, 233);
}