* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: beige;
}

#gallery-page {
    color: black; 
}

.hero {
    background-image: url("../images/sakura_hero.jpg");
    transform: scaleX(-1);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 700px;
    max-width: 100%;
}

.hero img {
    transform: scaleX(-1);
}

.hero #hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px;
    background-color: rgba(216, 112, 147, .3);
    width: 200vh;
    padding: 5px;
    text-shadow: 4px  0px rgb(175, 33, 123);
    transform: scaleX(-1);
}

.single-column {
    display: flex;
    justify-content: center;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    background-color: white;
    border: 10px solid pink;
}

#gallery img {
    width: 100%;
    margin: 5px;
}

/* NAVBAR */

.navbar {
    background-color: palevioletred;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 16px;
}

/* MOBILE BREAKPOINT */

@media screen and (max-width: 500px) {
    body {
        background-color: white;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .hero #hero-content{
        font-size: 36px;
    }

    #gallery {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 1fr;
    }
}