* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 8px;
    gap: 20px;

}

.card {
    width: 400px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 30px;
}

.no1 {
    color: rgb(23, 81, 132);
    border: 10px solid orange;
    width: 100%;
    height: 100%;
}

.no1 img {
    object-fit: cover;
}

.no2 {
    color: rgb(27, 27, 96);
    border: 10px solid rgb(27, 27, 96);
    width: 100%;
    height: 100%;
}

.no2 img {
    object-fit: cover;
}

.no3 {
    color: rgb(96, 27, 27);
    border: 10px solid rgb(96, 27, 27);
    width: 100%;
    height: 100%;
}

.no3 img {
    object-fit: cover;
}

.pics {
    border: 3px solid black;
    border-radius: 100px;
    max-width: 100%;
}

.button {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    max-height: 45px;
    margin: 0px 20px;
    text-align: center;
}

.profile {
    color: #000000;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(231, 238, 248);
    padding: 5px 12px;
    margin: 20px 20px;
}
