* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
div {
    width: 570px;
}

#trial-1 {
    color: forestgreen;
}

#t2-1 {
    color: #f711f7;
}

#t3-1 {
    color: red;
}
#t3-2 {
    color: goldenrod;
}

#t3-3 {
    color: blue;
}

#trial-4 {
    background-color: skyblue;
}

#t5 {
    background-color: yellow;
}

#t6 {
    font-weight: bold;
}

#t7 {
    font-style: italic;
}

#t8 {
    text-decoration: underline;
}

#trial-9 {
    font-size: 36px;
}

#div2 {
    text-align: center;
}

#t10-1 {
    font-size: 12px;
}

#t10-2 {
    font-size: 36px;
    font-weight: bold;
}

#t10-3 {
    font-size: 24px;
    font-style: italic;
}