* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar-content {
    background-color: lightblue;
    flex: 1;
}

#main-content {
    background-color: lightgreen;
    flex: 1;
}