* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background-color: black;
    display: flex;
    justify-content: center;
}

#nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
}

/* MOBILE BREAKPOINT */

@media screen and (max-width: 450px) {
    body {
        background-color: red;
    }

    #nav {
        flex-direction: column;
        text-align: center;
    }
}