* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url("../images/pottery1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 900px;
}

#hero-1 .hero-content {
    text-align: center;
    color: rgb(242, 226, 197);
    padding-top: 100px;
}

#hero-1 h2 {
    font-size: 50px;
    margin-bottom: 36px;
    text-shadow: 2px 2px 4px rgb(120, 69, 28);
}

#hero-1 a {
    font-size: 18px;
    display: inline-block;
    background-color: rgb(120, 69, 28);
    color: rgb(242, 226, 197);
    font-weight: bold;
    text-decoration: none;
    padding: 24px;
    margin-top: 36px;
    margin-right: 12px;
    margin-left: 12px;
    border: 2px solid rgb(37, 18, 11);
    border-radius: 24px;
}

#navbar {
    background-color: rgb(120, 69, 28);
    padding: 20px;
}

.inline {
    display: flex;
    align-items: center;
}

#logo {
    color: rgb(242, 226, 197);
    justify-content: left;
    flex: 1;
    font-size: 32px;
}

#navbar a {
    color: rgb(242, 226, 197);
    font-weight: bold;
    text-decoration: none;
    margin-right: 12px;
    margin-left: 12px;
}