* {
box-sizing: border-box;
}

body {
margin: 0px;
font-family: sans-serif;
}

div {
border: 10px black;
margin: 24px 24px;
display: inline-block;
}

#frame1 {
border: 10px white;
background-color: rgb(255, 251, 243);
padding: 10px;
margin: 10px;
}

#frame2 {
border: 10px white;
background-color: rgb(255, 251, 243);
padding: 10px;
margin: 10px;
border-radius: 50%;
}

p {
margin-inline: 20px;
text-align: center;
width: 230px;
}

#frame3 {
border: 10px white;
background-color: rgb(255, 251, 243);
padding: 10px;
margin: 10px
}

.rectangle-frame {
    border: 20px;
    background-color: rgb(129, 65, 42);
    box-shadow: 6px 6px 10px black;
}

.round-frame {
    border: 20px;
    background-color: rgb(129, 65, 42);
    box-shadow: 6px 6px 10px black;
    border-radius: 50%;
}