* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#font-weight {
    font-weight: bold;
    font-style: italic;
}

#font-style {
    font-style: oblique;
    text-decoration: underline;
}