@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: "Flame";
    src: url(Flame-Bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(248, 241, 231);
}

div {
    display: block;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
}

.section1 {
    background-color: #198738;
    color: rgb(248, 241, 231);
}

.section2 {
    background-color: #FE8730;
    color: #512215;
}

.section3 {
    background-color: #512215;
    color: rgb(248, 241, 231);
}

.section4 {
    background-color: #D82300;
    color: rgb(248, 241, 231);
}

.section5 {
    background-color: #FEAA01;
    color: #512215;
}

h1 {
    font-family: "Flame";
    color: rgb(248, 241, 231);
}

h2 {
    font-family: "Flame";
    color: rgb(248, 241, 231);
}

p {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    margin: 0px 10px;
}

.sub {
    display: block;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#s2 {
    color: #512215;
}

#s3 {
    color: rgb(248, 241, 231);
}

#s4 {
    color: rgb(248, 241, 231);
}

#s5 {
    color: #512215;
}

.button {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    max-height: 45px;
    margin: 0px 20px;
    text-align: center;
}

.first {
    color: #512215;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(248, 241, 231);
    padding: 5px 12px;
    margin: 20px 20px;
}

.double {
    color: #512215;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(248, 241, 231);
    padding: 5px 12px;
    margin: 20px 20px;
}

.bacon {
    color: #512215;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(248, 241, 231);
    padding: 5px 12px;
    margin: 20px 20px;
}

.chicken {
    color: #512215;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(248, 241, 231);
    padding: 5px 12px;
    margin: 20px 20px;
}

.fries {
    color: #512215;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(248, 241, 231);
    padding: 5px 12px;
    margin: 20px 20px;
}