* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#center-single {
    display: flex;
    max-width: 1000px;
    margin: 0px auto;
}

.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .image-container img {
    width: 100%;
}