* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: beige;
}

#gallery-page {
    color: black; 
}

.hero {
    background-image: url("../images/sakura_hero.jpg");
    transform: scaleX(-1);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 700px;
    max-width: 100%;
}

.hero img {
    transform: scaleX(-1);
}

.hero #hero-content {
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(251, 188, 198));
    width: 100vh;
    display: grid;
    align-items: end;
    height: 0px;
    text-shadow: 4px  0px rgb(175, 33, 123);
    transform: scaleX(-1);
}

#hero-content {
    margin-top: auto;
}

.single-column {
    display: flex;
    justify-content: center;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    background-color: white;
    border: 10px solid pink;
}

#gallery img {
    width: 100%;
    margin: 5px;
}