* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(233, 229, 211);
    color: rgb(1, 1, 93);
}
.two-column {
    display: flex;
}

#center-column {
    background-color: lightblue;
    max-width: 600px;
    margin: 0px auto; 
    padding: 20px;
    flex: 2;
}

#side-column {
    max-width: 600px;
    margin: 0px auto; 
    padding: 20px;
    flex: 1;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
}

h2 {
    font-weight: bolder;
    color: rgb(1, 1, 93);
    margin: 3px 0px;
}

h3 {
    font-weight: lighter;
    color: rgb(1, 1, 93);
    margin: 10px 0px;
}

h5 {
    margin: 30px 0px;
}

#sec {
    margin: 20px 0px;
}

.heading {
    margin-bottom: 20px;
}

li {
    list-style: none;
    background-color: lightblue;
    border-left: 5px solid navy;
    border-right: 5px solid navy;
    border-bottom: 3px solid navy;
    border-top: 2px solid navy;
    padding: 20px;
}

#side-head {
    background-color: navy;
    border: 5px solid navy;
    padding: 20px
}

#hddr {
    color: lightblue;
}

#sticky {
    position: sticky;
    top: 24px;
}